<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.revomvpandriodapp.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.revomvpandriodapp.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.revomvpandriodapp.app.modules.deliveryorderdetail.ui.DeliveryorderdetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homeemailtoken.ui.HomeEmailtokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.confirmorderdetail.ui.ConfirmorderdetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmansigncompleted.ui.GasManSignCompletedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businessmobiletoken.ui.BusinessMobiletokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.dashboardblank.ui.DashboardBlankActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homedashb.ui.HomedashbActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.cusordermainpage.ui.CusordermainpageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homesignupwithnumber.ui.HomeSignUpWithNumberActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.noactionordergasmandetail.ui.NoactionordergasmandetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmanmobiletoken.ui.GasManMobiletokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.arealisting.ui.AreaListingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.thankyou.ui.ThankYouActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businessemailtoken.ui.BusinessEmailtokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.locaton.ui.LocatonActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmanemailtoken.ui.GasManEmailtokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmansignupoption.ui.GasManSignupOptionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.dashboard4household.ui.Dashboard4householdActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.acceptorderdetail.ui.AcceptorderdetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businessdashboardontainercontainer.ui.BusinessDashboardontainerContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businesssignupwitemail.ui.BusinessSignUpWitEmailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homesuccess.ui.HomeSuccessActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homesignupoption.ui.HomeSignupOptionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmansignupwithemail.ui.GasManSignUpWithEmailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.retailercoveragearea.ui.RetailercoverageareaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.suplist.ui.SuplistActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.retailersetup.ui.RetailerSetupActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.orderlist4household.ui.Orderlist4householdActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.loginregister.ui.LoginregisterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.orderlist4gasman.ui.Orderlist4gasmanActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasrequest.ui.GasrequestActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.noactionorderhousehoddetail.ui.NoactionorderhousehoddetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homesignupwitemail.ui.HomeSignUpWitEmailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businesssignupoption.ui.BusinessSignupOptionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.pickorderdetail.ui.PickorderdetailActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.homemobiletoken.ui.HomeMobiletokenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.retailersetstock.ui.RetailersetstockActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businesssignupwithnumber.ui.BusinessSignUpWithNumberActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.dashboard4gasmantwo.ui.Dashboard4gasmantwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.signupaccountoptin.ui.SignupAccountOptinActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmanordermainpage.ui.GasmanordermainpageActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.revomvpandriodapp.app.modules.onboarding.ui.OnboardingActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.revomvpandriodapp.app.modules.businesssignupcomplete.ui.BusinessSignupCompleteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.revomvpandriodapp.app.modules.gasmansignupwithnumber.ui.GasManSignUpWithNumberActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
